@using InternalBookingSystem.Models
@using Microsoft.EntityFrameworkCore
@inject InternalBookingSystem.Data.ApplicationDbContext _context

@{
    var today = DateTime.Today;
    var bookings = _context.Bookings
        .Include(b => b.Resource)
        .Where(b => b.StartTime.Date == today)
        .OrderBy(b => b.StartTime)
        .ToList();
}

@if (bookings.Any())
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Resource</th>
                <th>Start</th>
                <th>End</th>
                <th>Booked By</th>
                <th>Purpose</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in bookings)
            {
                <tr>
                    <td>@b.Resource?.Name</td>
                    <td>@b.StartTime.ToString("g")</td>
                    <td>@b.EndTime.ToString("g")</td>
                    <td>@b.BookedBy</td>
                    <td>@b.Purpose</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No bookings scheduled for today.</p>
}
